@model List<Web.Pages.Transactions.Index.Model.Transaction>

<table class="transaction-list">
    @foreach (var transaction in @Model)
    {
        <tr>
            <td>
                <a asp-page="/Transactions/" asp-route-id="@transaction.TransactionId">
                    @transaction.TransactionId.Substring(0, 5)
                </a>
            </td>
            <td>@transaction.InvestmentId</td>
            <td>@transaction.Price</td>
            <td>@transaction.Amount</td>
        </tr>
    }
</table>