@model List<Web.Pages.Transactions.Index.Model.Transaction>

<table class="transaction-list">
    <tr>
        <th>
            Date
        </th>
        <th>
            Investment
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
    </tr>
    @foreach (var transaction in @Model.OrderByDescending(t => t.Date))
    {
        <tr>
            <td>
                <a asp-page="/Transactions/" asp-route-id="@transaction.TransactionId">
                    @transaction.Date.ToString("dd.MM.yyyy")

                </a>
            </td>
            <td>@transaction.InvestmentId</td>
            <td>@transaction.Price</td>
            <td>@transaction.Amount</td>
        </tr>
    }
</table>