@page "{portfolioId=kofoed}"
@model Transactions.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Transactions </h1>
    <ul>
        @foreach (var transaction in Model.Data.Transactions)
        {
            <li>
                <a asp-page="/Transactions/" asp-route-id="@transaction.TransactionId">
                    @transaction.TransactionId.Substring(0,5)
                </a>
                <span>@transaction.InvestmentId</span>
                <span>@transaction.Price</span>
                <span>@transaction.Amount</span>
            </li>
        }
    </ul>
    <a asp-page="/Transactions/Create">Create New</a>
</div>
