@model List<Domain.Projections.RegisteredInvestment>

<table class="investment-list">
    @foreach (var investment in @Model)
    {
        <tr>
            <td>
                <a asp-page="/Investments/">
                    @Html.DisplayFor(modelItem => investment.InvestmentId)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => investment.InvestmentGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => investment.InvestmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => investment.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => investment.Symbol)
            </td>
        </tr>
    }
</table>