@model List<Domain.Projections.RegisteredInvestmentsProjection>

<table class="investment-list">
    <tr>
        <th>
            Name
        </th>
        <th>
            Group
        </th>
        <th>
            Type
        </th>
        <th>
            Currency
        </th>
        <th>
            Symbol
        </th>
    </tr>
    @foreach (var investment in @Model)
    {
        <tr>
            <td>
                <a asp-page="/Investments/">
                    @investment.InvestmentId
                </a>
            </td>
            <td>
                @investment.InvestmentGroup
            </td>
            <td>
                @investment.InvestmentType
            </td>
            <td>
                @investment.Currency
            </td>
            <td>
                @investment.Symbol
            </td>
        </tr>
    }
</table>