@page "{portfolioId=kofoed}"
@using System.Globalization
@model Web.Pages.Index
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Portfolio - @Model.Data.PortfolioId</h1>
    <p class="big-number">@Model.Data.TotalValue</p>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Price
            </th>
            <th>
                Value
            </th>
        </tr>
        @foreach (var item in Model.Data.InvestmentStatuses.Values)
        {
            <tr>
                <td>
                    @item.InvestmentId
                </td>
                <td>
                    @Math.Round(@item.Amount,2)
                </td>
                <td>
                    @item.Price.ToString("C", new CultureInfo("no-NO"))
                </td>
                <td>
                    @item.Value.ToString("C", new CultureInfo("no-NO"))
                </td>

            </tr>
        }
    </table>
</div>